

/* BIG SCREENS */

body {
	user-select: none ;
	-webkit-user-select: none ;
}

#pointer {
	position: absolute ;
	width: 50px ;
	height: 50px ;
	border-radius: 50% ;
	-webkit-border-radius: 50% ;
	-ms-border-radius: 50% ;
	background-color: blue ;
	z-index: 1000000 ;
	opacity: 0.1 ; 
	display: none ;
}

.btn_status_bar {
	position: absolute ;
	bottom: 10px ;
	left: 70px ;
	right: 10px ;
	height: 30px ;
	background-color: black ;
	color: green ;
	font-family: Courier, Tahoma, Helvetica, Arial ;
	padding: 10px ;
	font-size: 12px ;
	font-weight: bold ;
	z-index: 100000 ;
	overflow: auto;
	opacity: 0.9 ;
	display: visible ;
}

.btn_reload {
	background-image: url( ux_reload.svg ) ;
	background-size: contain ;
	position: absolute ;
	width: 50px ;
	height: 50px ;
	left: 10px ;
	bottom: 10px ;
	opacity: 0.3 ;
	z-index: 100000 ;
	cursor: pointer ;
}

.btn_rotation {
	transform: rotate(360deg) ;
    transition-duration: 1s ;
    transition-delay: now ;
    animation-timing-function: linear ;
    animation-iteration-count: infinite ;
    -webkit-transform: rotate(360deg) ;
    -webkit-transition-duration: 1s ;
    -webkit-transition-delay: now ;
    -webkit-animation-timing-function: linear ;
    -webkit-animation-iteration-count: infinite ;
}



@media (min-width: 961px){

	html{
		height: 100% ;	
	}

	body {
		overflow: hidden ;
		margin: 0px ;
		height: 100% ;
	}

	.WebAppContainer {
		position: absolute ;
		width: 100% ;
		height: 100% ;
		background-color: #f3f3f3 ;
		overflow: hidden ;
		z-index: 100 ;
		background-image: url( bg.png ) ;
		background-size: cover ;
	}

	.WebAppContent {
		position: absolute ;
		left: 0px ;
		top: 0px ;
		z-index: 1 ;
		transform-origin: top left ;
		-webkit-transform-origin: top left ;
		-ms-transform-origin: top left ;
		margin: auto ;
	}

	

}
/* SMALL SCREENS */


@media (max-width: 960px) {

	html{
		height: 100% ;	
	}

	body {
		overflow: hidden ;
		margin: 0px ;
		height: 100% ;
	}

	.WebAppContainer {
		position: absolute ;
		width: 100% ;
		height: 100% ;
		background-color: #f3f3f3 ;
		overflow: hidden ;
		z-index: 100 ;
		background-image: url( bg.jpg ) ;
		background-size: cover ;
	}

	.WebAppContent {
		position: absolute ;
		left: 0px ;
		top: 0px ;
		z-index: 1 ;
		transform-origin: top left ;
		transform:scale( 1, 1 ) ;
		-webkit-transform-origin: top left ;
		-webkit-transform:scale( 1, 1 ) ;
		-ms-transform-origin: top left ;
		-ms-transform:scale( 1, 1 ) ;
	}

}
